* {
    box-sizing: border-box;
    overflow-x: hidden;
    /* Vet ej */
    margin: 0;
    padding: 0;
}

body {
    background-color: #303030;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#loginBox{
    border-style: solid;
    border-width: 1px;
    border-color: #F13C03;
    border-radius: 10px;
    background-color: white;
    width: 450px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#title {
    color: black;
    margin-bottom: 20px;
    margin-left: 50px;
}

#boxForInput{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

#usernameBox, #passwordBox, #emailBox {
    border-style: solid;
    border-width: 2px;
    border-color: #F13C03;
    border-radius: 5px;
    background-color: white;
    width: 300px;
    height: 40px;
    margin: 20px 0 10px 10px;

}

input.custom{
    caret-color: #F13C03;
        font:
            16px "Helvetica",
            "Arial",
            "sans-serif";
}