* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-color: #303030;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Atkinson', sans-serif;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
}

#signUpBox {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    width: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 4px;
    color: white;
    overflow: hidden;
}

#innerBox {
    margin-left: 70px;
    margin-right: 70px;
}

#title {
    margin-bottom: 15px;
    font-size: 26px;
    color: #F13C03;
}

#boxForInput {
    display: flex;
    flex-direction: column;
}

#emailBox{
    margin-bottom: 10px;
}
#passwordBox{
    margin-bottom: 10px;
}
#usernameBox {
    margin-bottom: 10px;
}

input.custom {
    caret-color: #F13C03;
    /*Text markör*/
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s ease-in-out;
    border: solid;
    border-width: 1px;
    border-color: rgb(122, 122, 122);
    border-radius: 4px;
    background: #333;
    color: white;
    width: 100%;
    transition: 0.3;
    padding: 12px;
}

input.custom:focus {
    box-shadow: 5px 5px 5px black;
    border: 1px solid #F13C03
}

input.custom::placeholder {
    color: #bbb;
}

#password-checklist {
    display: none;
    opacity: 0;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    margin-bottom: 10px;
}

#password-checklist.show {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

@media (max-width: 600px) {
    #password-checklist {
        width: 90%;
        left: 5%;
    }
}

.checklist{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

.list-item{
    padding: 4px 25px;
    font-size: 13px;
    color: red;
    display: flex;
    align-items: center;
    gap: 8px; /* gap mellan x och namn*/
}

.list-item::before {
    content: "✖";
    color: red;
    font-weight: bold;
}

.valid{
    color: #28a745;
}

.valid::before{
    content: "✔";
    color: #28a745;
    font-weight: bold
}

#signUpButton {
    width: 100%;
    padding: 12px;
    background: #F13C03;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.5s;
    margin-bottom: 15px;
}

#signUpButton:hover {
    background-color: #c75b3a;
}

#signUpButton:active {
    background-color: #ff9271;
    box-shadow: 0 5px #666;
}

.somethingWrong{
    margin-bottom: 15px;
    font-size: 14px;
    color: rgb(156, 0, 0);
}

.remember {
    display: flex;
    margin-bottom: 10px;
}

.remember label {
    font-size: 16px;
    padding-right: 10px;
}

.remember input[type="checkbox"] {
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #d5d5d5;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.remember input[type="checkbox"]::after {
    font-weight: 900;
    content: "\f00c";
    font-size: 15px;
    color: #F13C03;
    display: none;
    font-family: "Font Awesome 5 Free";
}

.remember input[type="checkbox"]:hover {
    background-color: #a5a5a5;
    transition: all 0.5s;

}

.remember input[type="checkbox"]:checked {
    background-color: #d5d5d5;
    transition: all 0.5s;

}

.remember input[type="checkbox"]:checked::after {
    display: block;
    transition: all 0.5s;

}

#p {
    font-size: 16px;
}

a {
    color: #F13C03;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #c75b3a;
}

a:active {
    color: #a33a2a;

}