<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login screen</title>
    <link rel="stylesheet" href="../styles/loginStyle.css">
</head>

<body>
    <div id="loginBox">
        <h1 id="title">Sign in</h1>
        <div id="boxForInput">
            <input type="text" id="usernameBox" class="custom"><br>
            <input type="password" id="passwordBox" class="custom"><br>
            <input type="email" id="emailBox" class="custom">
        </div>
    </div>

</body>

</html>